*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    width: 100%;
    height: 70px;
}
.navbar-brand{
    font-size:2rem;
    color: black;
}
.navbar-brand:hover{
    color: black;
}
.navbar-item ul {
    display: flex;
    align-items: center;
}
.navbar-item ul li{
    list-style-type: none;
    padding:10px;
}
.navbar-item ul .nav-item{
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    text-transform: uppercase;
}
.navbar-item ul .nav-item :hover{
    color: black;
}
.search{
    display: flex;
}
.search input{
    height: 40px;
    width: 80%;
    margin-right: -35px;
    border-radius: 60px;
    outline: none;
    border: 2px solid rgb(248, 26, 92);
    padding-left:10px;
    text-transform: uppercase;
}
.search button{
    height:40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(248, 26, 92);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}
.main{
    /* background-image: url(image-1.jpg); */
    background: linear-gradient(#313030,#0000),url(image-1.jpg);
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}
.text-1{
    text-align: center;
    padding: 240px 0;
}
.text-1 p{
    font-size:2rem;
    font-weight:500px;
    padding:25px 0;
    /* color: white; */
}
.text-1 h1{
    font-size: 4rem;
    font-weight: 700;
    /* color: white; */
}
.main p{
    font-size: 2rem;
    font-weight: 500;
}

.main-1{
    background-color: rgb(9, 104, 42);
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:100px 200px;
}
.card-1 img{ 
    width: 350px;
    height: 550px;
    border-radius: 30px;
}
.text-item{
    margin-right: 150px;
}
.text-item h1{
    font-size:50px;
    font-weight: 700;
    color: white;
}
.text-item p{
    margin: 30px 0;
    font-size:20px;
    color: white;
}
.main-2{
    background-image:url(delivery\ image-4.jpg);
    /* height: 100vh; */
    width: 100%;
    background-size: cover;
}
.heading h1{
    text-align: center;
    padding: 60px 0;
    font-size: 4rem;
    color: white;
}

.text-item-1{
    display: flex;
    /* text-align: center; */
    justify-content: space-around;
    align-items: center;
    padding: 150px 150px;
}
.number h3{
    background-color: green;
    border-radius: 50%;
    text-align: center;
    padding: 10px 10px 10px 10px;
    width: 25%;
    color: white;
    border: 1px solid white;
    display: flex;
    margin: 0px 60px;
    justify-content: center;
    align-items: center;
}
.number p{
    color: white;
    font-size: 1.5rem;
    padding: 50px 0;
}
.main-3{
    background-color:rgb(127, 220, 106);
    /* height: 100vh; */
    padding: 50px;
    /* display: flex; */
}
.heading-1 p{
    font-size:4rem;
    padding:50px 170px;
    font-weight: 520;
    color: white;
}
.main-card{
    display: flex;
    justify-content: space-between;
    padding-left:170px;
    padding-right:170px;
    /* position: relative; */
}
.card-2{
    background-image: url(image-4.jpg);
    width:330px;
    height:500px;
    padding:0px 65px;
    border-radius:30px;
}
.text-price{
    padding-top: 25px;
}
.text-price h4{
    border:1px solid white;
    height:50px;
    width:200px;
    text-align:center;
    background-color: white;
    font-size:2rem;
    border-radius:5px;
    padding-top:7px;
    font-weight:700;
}
.text-price p{
    text-align: center;
    padding: 350px 16px;
    font-size:18px;
    font-weight:600;
    color: white;
}

.main-4{
    /* height:100vh; */
    background-color: white;
}
.container-3{
    display: flex;
    justify-content: space-between;
    padding:100px 150px;
}
.image img{
    width:500px;
    height:500px;
    border-radius:30px;
}
.heading-2{
    padding-top:40px;
    padding-right:200px;
    font-size:2rem;
    font-weight:500;
}
/* .heading-2 p{
    
} */

.heading-2 div li {
    margin-top:10px;
}
.heading-2 button{
    margin-top: 90px;
    width:250px;
    height: 50px;
    border-radius:60px;
    font-size:1rem;
    font-weight:700;
    background-color:rgb(4, 144, 53);
    color: white;
    border-style: none;
}
.main-5{
    background-color: rgb(9, 104, 42);
    /* height: 100vh; */
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
}
.container-4{
    display:flex;
    justify-content: space-between;
    padding:70px 140px;
}
.heading-3 span{
    font-size: 4rem;
    font-weight: 00;
    color: white;
}
.heading-3 p{
    padding-top: 50px;
    font-size:2rem;
    color: white;
}
.paragraph{
    padding:60px 250px;
}
.paragraph p{
    font-size:20px;
    color: white;
}
.paragraph span{
    font-size:12px;
    color: white;
}

.main-6{
    background-color: rgb(127, 220, 106);
    /* width: 100%; */
    /* height: 100vh; */
    padding: 50px;
}
.heading-4{
    display: flex;
    justify-content: space-between;
    padding:50px 170px;
    color: white;
}
.heading-4 span{
    font-size:3.5rem;
    font-weight:500;
}
.heading-4 p{
    /* padding-right:px; */
    font-size:1.5rem;
}
.card-3{
    background-color: white;
    width:330px;
    height: 500px;
}
.main-card-1{
    display: flex;
    justify-content: space-between;
    padding-left:170px;
    padding-right:170px;
}
.card-3{
    /* background-image: url(image-4.jpg); */
    width:330px;
    height:500px;
    padding:0px 65px;
    border-radius:30px;
}
.card-3 img{
    width:290px;
    height: 300px;
    margin:20px -45px;
    border-radius:25px;
    /* margin-right:50px; */
}
.heading-5 p{
    /* padding-right:10px; */
    padding-bottom: 30px;
    text-align: center;
    font-size:17px;
}
.heading-5 button{
    text-align: center;
    margin-right: 20px;
    width:200px;
    height:60px;
    border-radius:40px;
    background-color: rgb(4, 99, 4);
    border-style:none;
    color: white;
    font-weight:600;
}

.main-7{
    background-image:url(image-9.jpg);
    background-size:cover;
    background-position: 50% 10%;
}
.container-6{
    padding:60px 150px;
}
.container-6 span{
    font-size: 3.5rem;
    font-weight: 500;
}
.paragraph-1{
    display: flex;
    justify-content: space-between;
    padding:100px 0px;
}
.first h4{
    font-size: 15px;
    font-weight: 600;
}
.first p{
    padding-top:25px;
}
.second p{
    padding-top:40px;
    /* padding-right: 50px; */
}

.fourth{
    padding-top:90px;
}


@media (max-width:427px){
    .main-1{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 20px;
    }
    .text-item{
        margin: 0;
    }
    .card-2{
        height: 100%;
    }
    .image img{
        width: 100%;
        height: 100%;
    }
    .main-2{
        height: 100%;
        background-position: center;
    }
    .main-card-1{
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0;
    }
    .card-3{
        margin: 10px;
        height: 100%;
        padding: 22px 65px;
    }
    .main-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .navbar-item{
        display: none;
    }
    .navbar-main{
        padding: 10px;
    }
    .main{
        height: 100%;
    }
    .text-item-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    }
    .container-3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0;
    }
    .container-4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
    }
    .heading-2{
        text-align: center;
        padding: 20px;
    }
    .heading-1 p{
        padding: 0px;
    }
    .paragraph{
        padding: 0;
    }
    .heading-4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .container-6{
        padding: 0;
    }
    .paragraph-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}
